<!-- templates/posts/index.html -->
{% load static %}
<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
        <!-- <link rel="icon" href="fav.ico" type="image"> -->
    </head>

    <body>
        <header>
            {% include 'includes/header.html' %}
        </header>
        <main>
            {% for post in posts %}
            <ul>
                <li>
                    {{ post.author.get_full_name }}
                </li>
                <li>
                    {{ post.pub_date|date:"d.m.Y" }}
                </li>
            </ul>
            <p>{{ post.header }}</p>
            <p>{{ post.text }}</p>
            <img src="{{ post.img }}" alt="">
            {% if not forloop.last %}
            <hr>{% endif %}
            {% endfor %}
        </main>
        <aside>
            Лучшие блоги
        </aside>
        <footer>
            Подвал
        </footer>
    </body>

    </body>

</html>
