<!DOCTYPE html>
<html lang="ru">

    <head>
        <title>Пост</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/index.css" type="text/css">
    </head>

    <body class="profile_body">
        <header>
            {% include 'includes/header.html' %}
        </header>
        <main class="profile_user box_1">
            <div class="profile_userbox box">
                <p>Профиль пользователя</p>
                <h4><a href="{{author.username}}" class="username">{{ author.get_full_name}}</a></h4>
                {% if author.img %}
                <img src="{{ author.img.url }}" alt="logo">
                {% else %}
                <img src="/media/images/avatardefault.jpeg" alt="default_logo">
                {% endif %}
                <p>Публикации: {{author.posts.count}}</p>
            </div>
            <div class="block box_2">
                <ul class="post_bar">
                    <li>
                        <a href="{% url 'profile' post.author.username %}">{{ post.author.username}}</a>
                    </li>
                    <li class="list-group-item">
                        {{post.pub_date|date:"d.m.Y"}}
                    </li>
                </ul>
                <article class="col-12 col-md-9">
                    <h3>{{ post.header }}</h3>
                    <p>{{ post.text }}</p>
                    {% if post.img %}
                    <img src="{{post.img.url}}" class="post_img_detail"><br>
                    {% else %}
                    <p></p>
                    {% endif %}
                </article>
                <div class="edit_like_box">
                    {% if request.user == post.author %}
                    <a class="btn_edit" href="{% url 'post_edit' post.id %}" role="button">Редактировать</a>
                    {% endif %}
                    <!-- Лайки -->
                    {% include 'includes/likes.html' %}
                </div>
                {% include 'includes/add_comment.html' %}
            </div>
        </main>
        <footer class="border-top text-center py-3">
            <p>©
                <!--2021 --> Copyright Хабр
            </p>
        </footer>
    </body>

</html>
