<!DOCTYPE html>
<html lang="ru">

    <head>
        <link rel="stylesheet" href="/static/css/index.css" type="text/css">
    </head>

    <body class="profile_body">
        <header>
            {% include 'includes/header_profile.html' %}
        </header>
        <main class="profile_user">
            <div class="profile_userbox">
                <p>Профиль пользователя</p>
                <h4><a href="#" class="username">{{ author.get_full_name}}</a></h4>
                {% if author.img %}
                <img src="{{ author.img.url }}" alt="logo">
                {% else %}
                <img src="/media/images/avatardefault.jpeg" alt="default_logo">
                {% endif %}
                <p><span>Публикации:</span> {{latest.count}}</p>
                <p><span>Возраст:</span> {{author.age}}</p>
                <p><span>Краткое описание:</span><br> {{author.description}}</p>
                <div class="edit_profile">
                    {% if user.is_authenticated and request.user == author %}
                    <a class="btn_edit" href="{% url 'edit_profile' author.id %}" role="button">Редактировать</a>
                    {% endif %}
                </div>
                <div class="draft_box">
                    {% if user.is_authenticated and request.user == author %}
                    <a class="draft_a" href="{% url 'draft_article' author.username %}">Черновики</a>
                    {% endif %}
                </div>
            </div>
            {% for post in page %}
            <div class="block_1">
                <ul class="post_bar prof">
                    <li>
                        <a href="{% url 'profile' post.author.username %}">{{ post.author.username}}</a>
                    </li>
                    <li>
                        {{ post.pub_date|date:"d.m.Y" }}
                    </li>
                </ul>
                <h3>{{ post.header }}</h3>
                <p>{{ post.text }}</p>
                {% if post.img %}
                <img src="{{post.img.url}}" class="post_img_"><br>
                {% else %}
                <p></p>
                {% endif %}
                <button class="btn"><a href="{% url 'post_detail' post.id %}">Читать полностью</a></button>
                {{ all_comments.count }}
                {% if not forloop.last %}
                {% endif %}
                <div class="blink"><br></div>
                {% endfor %}
            </div>

            {% include 'includes/paginator.html' %}
        </main>

        <footer class="border-top text-center py-3">
            <p>©
                <!--2021 --> Copyright Хабр
            </p>
        </footer>
    </body>

</html>
