{% load static %}
<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    </head>

    <body>
        <header>
            {% include 'includes/header.html' %}
        </header>
        <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Искать</button>
        </form>

        {% if request.GET%}
        <div>
            <a href="#">по релевантности</a>
            <ul>
                <li class="relevant"><a href="#">по релевантности</a>
                </li>
                <li class="rate"><a href="#">по рейтингу</a></li>
                <li class="pub_date"><a href="#">по времени</a></li>
            </ul>
        </div>
        {% endif %}
        {% for post in posts %}
        <div class="block">
            <ul class="post_bar">
                <li>
                    <a href="{% url 'profile' post.author.username %}">{{ post.author.get_full_name}}</a>
                </li>
                <li>
                    {{ post.pub_date|date:"d.m.Y" }}
                </li>
            </ul>
            <h3>{{ post.header }}</h3>
            <p>{{ post.text }}</p>
            {% if post.img %}
            <img src="{{post.img.url}}" class="post_img"><br>
            {% else %}
            <p></p>
            {% endif %}
            <button class="btn"><a href="{% url 'post_detail' post.id %}">Читать полностью</a></button>
            {% if not forloop.last %}
            {% endif %}
            <div class="blink"><br></div>
            {% endfor %}
        </div>
        <footer>Подвал</footer>
    </body>



</html>
