{% block content %}
{% for post in page_obj %}
<div class="block">
    <ul class="post_bar">
        <li class="img_logo">
            {% if post.author.img %}
            <img src="{{ post.author.img.url }}" alt="logo" class="img_aside">
            {% else %}
            <img src="/media/images/avatardefault.jpeg" alt="default_logo" class="img_aside">
            {% endif %}
            <a href="{% url 'profile' post.author.username %}">{{ post.author.get_full_name}}</a>
        </li>
        <li>
            {{ post.pub_date|date:"d.m.Y" }}
        </li>
    </ul>
    <h3>{{ post.header }}</h3>
    <p>{{ post.text }}</p>
    {% if post.img %}
    <img src="{{post.img.url}}" class="post_img"><br>
    {% else %}
    <p></p>
    {% endif %}
    <button class="btn"><a href="{% url 'post_detail' post.id %}">Читать полностью</a></button>
    {% if not forloop.last %}
    {% endif %}
    <div class="blink"><br></div>
    {% endfor %}
</div>

{% include './paginator.html' %}
{% endblock %}
