{% load static %}
<div class="top">
    <div class="logo">
        <h1><a href="{% url 'homepage' %}">Хабр</a></h1>
    </div>
</div>
<div class="All_header_nav">
    <div class="navbar">
        <ul>
            <li><a href="{% url 'design_page' %}">Дизайн</a></li>
            <li><a href="{% url 'web_dev' %}">Веб-разработка</a></li>
            <li><a href="{% url 'mob_dev' %}">Мобильная разработка</a></li>
            <li><a href="{% url 'market' %}">Маркетинг</a></li>
        </ul>
    </div>
    <div class="profile-logo">
        {% if user.is_authenticated %}
        <a href="{% url 'new_post' %}">Добавить статью</a>
        {% endif %}
        <a class="img_search" href="{% url 'search' %}"><img src="{% static 'img/free-icon-search-3991270.png' %}"
                alt="Поиск"></a>
        <div class="dropdown"><a href="#"><img src="{% static 'img/user-interface.png' %}" alt="Личный кабинет"></a>
            {% include './menu.html' %}
        </div>
        </a>
    </div>
</div>
