* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    width: 95%;
    color: white;
    row-gap: 3%;
    grid-template-rows: 1fr 2fr .5fr;
    grid-template-areas:
        "A A A A   A A A A"
        "B B B B   B B C C"
        "D D D D   D D D D";
}

header {
    grid-area: A;
    display: flex;
    flex-direction: column;
    background: rgb(135 133 133 / 57%);
    margin-left: 5%;
}

.All_header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top img {
    background-color: black;
    width: 100%;
}

.logo,
.navbar,
.profile-logo {
    display: inline-block;
}

.logo h1 {
    margin: 0 25%;
    font-family: arial;
    font-size: 25px;
    padding-bottom: 3%;

}

.logo a {
    outline: none;
    text-decoration: none;
    color: #000000cc;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    width: 110%;
}

.navbar li {
    display: inline-block;
    font-family: arial;
    font-size: 20px;
    padding: 0.15%;
}

.navbar a {
    outline: none;
    text-decoration: none;
    color: #472f2f;
    font-weight: bold;
}

.profile-logo img {
    width: 32px;
    height: 32px;
    margin: 12% -20%;
}

main {
    grid-area: B;
    background: rgb(135 133 133 / 57%);
    /* margin-top: 1.8%; */
    margin-left: 7%;
}

aside {
    grid-area: C;
    background-color: #000000cc;
    margin: 0 0 0 6%;
    /* margin-top: 4.8%; */
}

footer {
    grid-area: D;
    background-color: #000000cc;
    margin-left: 5%;
}